*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: white;
}

a{
    text-decoration: none !important;
}

.home-page {
    background: linear-gradient(rgba(0, 0, 0, -0.7), rgba(0, 0, 0, 0.7)), url('../assets/image/image_1.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fade-up {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.about-page {
    background-image: linear-gradient(rgba(0, 0, 0, -0.7), rgba(0, 0, 0, 0.7)), url('../assets/image/image_2.jpg');
    height: 100vh;
    width: 100%;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-page {
    background-image: url('../assets/image/services.jpg');
    height: 100vh;
    width: 100%;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hiring-page {
    background-image: linear-gradient(rgba(0, 0, 0, -0.7), rgba(0, 0, 0, 0.7)), url('../assets/image/we_are_hiring.jpg');
    height: 100vh;
    width: 100%;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-page {
    background-image: linear-gradient(rgba(0, 0, 0, -0.7), rgba(0, 0, 0, 0.7)), url('../assets/image/contact.jpg');
    height: 100vh;
    width: 100%;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1-title {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.process {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../assets/image/p5.jpg');
    background-size: 100% 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#footer {
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    text-align: center;
}

.carousel-inner {
    width: 100vw;
    text-align: center;
}

.h3-title {
    font-weight: bold;
    font-size: 3rem;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 3rem;
}

.p-content {
    font-size: 1.7rem;
    color: white;
    padding-left: 25rem;
    padding-right: 25rem;
    font-weight: 400;

}

.testimonial {
    background-image: linear-gradient(rgba(0, 0, 0, -0.7), rgba(0, 0, 0, 0.7)),url('../assets/image/image1.jpeg');
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pad-3rem{
    padding: 3rem;
}

.pad-bottom-5rem{
    padding-bottom: 5rem;
}

.copyright{
    background-color: black;
}

.footer-container{
    background: #1d1d1d;
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5rem 20rem;
}

.h2-title{
    font-size: 3rem;
    font-weight: 700;
    color: darkgreen;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #2a2a2a;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }

  .social-links a:hover {
    background: #5c9f24;
    color: #fff;
    text-decoration: none;
  }

  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-links ul i {
    padding-right: 2px;
    color: #8ed851;
    font-size: 18px;
    line-height: 1;
  }

  .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  .footer-links ul li:first-child {
    padding-top: 0;
  }

  .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
  }

  .footer-links ul a:hover {
    color: #81d33d;
  }
  @media screen and (max-width: 1000px) {
    .footer-container{
        background: #1d1d1d;
        border-bottom: 1px solid #2f2f2f;
        display: flex;
        flex-direction: column;
        padding: 5rem 10px;
    }

  }
  .container{
    --bs-gutter-x: 1.5rem !important;
    --bs-gutter-y: 0 !important;
    width: 100% !important;
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .nav-link{
    text-decoration: none !important;
  }

  .navbar{
    margin-bottom: 0 !important;
    justify-content: unset !important;
  }

  .header-style{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .font-style-italic{
    font-style: italic;
  }

  @keyframes carousal-animation{
    0%{
        opacity: 0;
    }

    25%{
        opacity: 0.25;
    }

    50%{
        opacity: 5.0;
    }

    100%{
        opacity: 1;
    }
  }

  .carousal-animation{
    animation-name: carousal-animation !important;
    animation-duration: 3s !important;
    animation-delay: 5s !important;
  }

  .carousal{
    position: absolute;
    width: 5%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;

  }

  .right{
    right: 0 !important;
  }

  .left{
    left: 0 !important;
  }

  .carousal-icon{
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousal-icon:hover{
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
  }

 .backgroung-img1{
    background-image: repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
 }

 .backgroung-img2{
    background-image: repeating-linear-gradient(220deg, rgb(0,0,0) 0px, rgb(0,0,0) 19px,transparent 19px, transparent 22px),repeating-linear-gradient(189deg, rgb(0,0,0) 0px, rgb(0,0,0) 19px,transparent 19px, transparent 22px),repeating-linear-gradient(148deg, rgb(0,0,0) 0px, rgb(0,0,0) 19px,transparent 19px, transparent 22px),linear-gradient(90deg, rgb(30, 169, 65),rgb(158, 25, 173));  
 }

 .backgroung-img3{
    background-image: repeating-linear-gradient(157.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),repeating-linear-gradient(90deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 22px),linear-gradient(90deg, hsl(333,93%,55%),hsl(45,93%,55%),hsl(117,93%,55%),hsl(189,93%,55%),hsl(261,93%,55%));
 }

 .backgroung-img4{
    background-image: repeating-linear-gradient(113deg, rgb(0,0,0) 0px, rgb(0,0,0) 23px,transparent 23px, transparent 25px),repeating-linear-gradient(64deg, rgb(0,0,0) 0px, rgb(0,0,0) 23px,transparent 23px, transparent 25px),repeating-linear-gradient(330deg, rgb(0,0,0) 0px, rgb(0,0,0) 23px,transparent 23px, transparent 25px),linear-gradient(90deg, rgb(247, 243, 62),rgb(214, 0, 1));
 }

 .backgroung-img5{
    background-image: repeating-linear-gradient(216deg, rgb(0,0,0) 0px, rgb(0,0,0) 19px,transparent 19px, transparent 22px),repeating-linear-gradient(135deg, rgb(0,0,0) 0px, rgb(0,0,0) 19px,transparent 19px, transparent 22px),repeating-linear-gradient(338deg, rgb(0,0,0) 0px, rgb(0,0,0) 19px,transparent 19px, transparent 22px),linear-gradient(90deg, rgb(247, 125, 77),rgb(127, 74, 152));
 }

 
 .backgroung-img6{
    background-image: repeating-linear-gradient(112.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 21px),repeating-linear-gradient(0deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 21px),linear-gradient(90deg, hsl(117,53%,60%),hsl(117,53%,60%),hsl(117,53%,60%),hsl(117,53%,60%),hsl(117,53%,60%));    
}

.backgroung-img7{
    background-image:  repeating-linear-gradient(157.5deg, black 0px, black 10px,transparent 10px, transparent 11px),repeating-linear-gradient(67.5deg, black 0px, black 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(131,84%,17%),hsl(131,84%,17%));
}

.backgroung-img8{
    background-image: repeating-linear-gradient(157.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(67.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(131,84%,17%),hsl(131,84%,17%));
}

.backgroung-img9{
    background-image: radial-gradient(circle 5px at top left, rgba(226, 226, 226,0.1) 0%, rgba(226, 226, 226,0.1) 50%,rgba(201, 201, 201,0.1) 50%, rgba(201, 201, 201,0.1) 30%,transparent 30%, transparent 50%),linear-gradient(90deg, black,black); background-size: 11px 11px;    
}

.backgroung-img10{
    background-image: radial-gradient(circle at center center, transparent 0%,black 99%),repeating-linear-gradient(0deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),repeating-linear-gradient(90deg, rgba(163, 163, 163,0.2) 0px, rgba(163, 163, 163,0.2) 1px,transparent 1px, transparent 6px),linear-gradient(90deg, black, black);    
}

.backgroung-img11{
    background-image: repeating-radial-gradient(circle at center center, rgba(102, 184, 13,0.25) 0px, rgba(102, 184, 13,0.25) 3px,transparent 3px, transparent 10px,rgba(101, 156, 106,0.25) 10px, rgba(101, 156, 106,0.25) 17px,transparent 17px, transparent 21px,rgba(101, 163, 83,0.25) 21px, rgba(101, 163, 83,0.25) 22px),repeating-linear-gradient(67.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 13px,rgb(0,0,0) 13px, rgb(0,0,0) 16px,rgb(0,0,0) 16px, rgb(0,0,0) 30px,rgb(0,0,0) 30px, rgb(0,0,0) 31px); background-size: 72px 72px;
}

.backgroung-img12{
    background-image: repeating-radial-gradient(circle at center center, rgba(102, 184, 13,0.25) 0px, rgba(102, 184, 13,0.25) 3px,transparent 3px, transparent 10px,rgba(101, 156, 106,0.25) 10px, rgba(101, 156, 106,0.25) 17px,transparent 17px, transparent 21px,rgba(101, 163, 83,0.25) 21px, rgba(101, 163, 83,0.25) 22px),repeating-linear-gradient(67.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 13px,rgb(0,0,0) 13px, rgb(0,0,0) 16px,rgb(0,0,0) 16px, rgb(0,0,0) 30px,rgb(0,0,0) 30px, rgb(0,0,0) 31px); background-size: 72px 72px;
}

.color-1{
    color: white !important;
}

.color-2{
    color: beige !important;
}

.color-3{
    color: aquamarine !important;
}

.color-4{
    color: lightgreen !important;
}

.color-5{
    color: lightpink !important;
}

.color-6{
    color: lightskyblue !important;
}

.color-black{
    color: black !important;
}

.color-7{
    color: darkblue !important;
}

.color-8{
    color: darkslategray !important;
}

.color-9{
    color: darkmagenta !important;
}


.accomplishment {
    text-align: center;
    padding-top: 4rem;
}
/* testimonials */
/* #myCarouseltest .carousel-indicators li {
    border: 1px solid black;
}

#myCarouseltest .carousel-indicators .active{
    background-color: black;
}



#myCarouseltest .carousal .carousal-icon{
    color: rgb(56, 55, 55) !important;
    background: #919090 !important;
}

#myCarouseltest .carousal .carousal-icon:hover{
    color: black !important;
    background: #a8a8a8 !important;
}



.carousel-indicators{
    bottom: 5rem !important;
} */

.accomp-bgd-1{
    background-image: radial-gradient(circle 29px at center center, hsla(270,86%,89%,0.15) 0%, hsla(270,86%,89%,0.15) 79%,transparent 79%, transparent 80%,transparent 80%, transparent 100%),linear-gradient(270deg, hsla(270,86%,89%,0.15) 0%, hsla(270,86%,89%,0.15) 8%,transparent 8%, transparent 100%),linear-gradient(0deg, hsla(270,86%,89%,0.15) 0%, hsla(270,86%,89%,0.15) 10%,transparent 10%, transparent 100%),linear-gradient(180deg, hsla(270,86%,89%,0.15) 0%, hsla(270,86%,89%,0.15) 10%,transparent 10%, transparent 100%),linear-gradient(90deg, hsla(270,86%,89%,0.15) 0%, hsla(270,86%,89%,0.15) 8%,transparent 8%, transparent 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 49px 49px;
}

.accomp-bgd-2{
    background-image: radial-gradient(circle 90px at center center, hsla(94,85%,43%,0.15) 0%, hsla(94,85%,43%,0.15) 23%,transparent 23%, transparent 66%,transparent 66%, transparent 100%),linear-gradient(270deg, hsla(94,85%,43%,0.15) 0%, hsla(94,85%,43%,0.15) 8%,transparent 8%, transparent 100%),linear-gradient(0deg, hsla(94,85%,43%,0.15) 0%, hsla(94,85%,43%,0.15) 10%,transparent 10%, transparent 100%),linear-gradient(180deg, hsla(94,85%,43%,0.15) 0%, hsla(94,85%,43%,0.15) 10%,transparent 10%, transparent 100%),linear-gradient(90deg, hsla(94,85%,43%,0.15) 0%, hsla(94,85%,43%,0.15) 8%,transparent 8%, transparent 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 41px 41px;
}

.accomp-bgd-3{
    background-image: radial-gradient(circle 62px at center center, hsla(149,19%,61%,0.15) 0%, hsla(149,19%,61%,0.15) 27%,transparent 27%, transparent 35%,transparent 35%, transparent 100%),linear-gradient(270deg, hsla(149,19%,61%,0.15) 0%, hsla(149,19%,61%,0.15) 8%,transparent 8%, transparent 100%),linear-gradient(0deg, hsla(149,19%,61%,0.15) 0%, hsla(149,19%,61%,0.15) 10%,transparent 10%, transparent 100%),linear-gradient(180deg, hsla(149,19%,61%,0.15) 0%, hsla(149,19%,61%,0.15) 10%,transparent 10%, transparent 100%),linear-gradient(90deg, hsla(149,19%,61%,0.15) 0%, hsla(149,19%,61%,0.15) 8%,transparent 8%, transparent 100%),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); background-size: 33px 33px;
}

.accomp-bgd-4{
    background-image: radial-gradient(circle at center center, rgba(133, 133, 133,0.15) 0%, rgba(133, 133, 133,0.15) 57%,rgba(108, 108, 108,0.15) 57%, rgba(108, 108, 108,0.15) 72%,rgba(58, 58, 58,0.15) 72%, rgba(58, 58, 58,0.15) 77%,rgba(183, 183, 183,0.15) 77%, rgba(183, 183, 183,0.15) 89%,rgba(83, 83, 83,0.15) 89%, rgba(83, 83, 83,0.15) 95%,rgba(158, 158, 158,0.15) 95%, rgba(158, 158, 158,0.15) 100%),radial-gradient(circle at center center, rgb(20,20,20) 0%, rgb(20,20,20) 14%,rgb(20,20,20) 14%, rgb(20,20,20) 18%,rgb(20,20,20) 18%, rgb(20,20,20) 21%,rgb(20,20,20) 21%, rgb(20,20,20) 73%,rgb(20,20,20) 73%, rgb(20,20,20) 80%,rgb(20,20,20) 80%, rgb(20,20,20) 100%); background-size: 68px 68px;
}

.accomp-conatainer{
    text-align: center;
    height: 200px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px white;
}

.accomp-root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pad-top-5rem{
    padding-top: 5rem;
}

.accomp-cnt{
    background-color: black;
    width: fit-content;
    border-radius: 60px;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 0 10px 5px white;
}

.accomp-content{
    background-color: black;
    width: fit-content;
    border-radius: 60px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 0 10px 5px white;
}

.color-white{
    color: white !important;
}