<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADS SOLUTIONS</title>
    <link rel="shortcut icon" href="../assets/image/logo.png" type="image/x-icon">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css"
        integrity="sha512-cn16Qw8mzTBKpu08X0fwhTSv02kK/FojjNLz0bwp2xJ4H+yalwzXKFw/5cLzuBZCxGWIA+95X4skzvo8STNtSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <header id="header" class="fixed-top">
        <div class="parent-container">
            <div class="chiled-container">
                <a class="chiled-head-container" href="../index.html">
                    <img class="logo" src="../assets/image/logo.png" alt="logo">
                    <span class="nav-title">MADS SOLUTIONS</span>
                </a>

                <a href="javascript:void(0)" class="icon">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="topnav" id="myTopnav">
                <a href="../index.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        HOME
                    </h4>
                </a>
                <a href="about-us.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        ABOUT US
                    </h4>
                </a>

                <a href="services.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        SERVICES
                    </h4>
                </a>

                <a href="weArehiring.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        WE ARE HIRING
                    </h4>
                </a>

                <a href="contactus.html" class="scrollto">

                    <h4 class="h4-title">
                        CONTACT US
                    </h4>
                </a>
            </div>
        </div>

    </header>

    <main id="main">
        <div class="about-page">
            <h1 class="h1-title animate__animated animate__fadeInDown">about us</h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 50px;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active pad-bottom-5rem">
                        <div class="pad-bottom-5rem">
                            <p class="p-content animate__animated animate__fadeInUp">MADS Solutions is Information Technology consulting company offering
                                Software Development Services, Workforce Solutions and Outsourcing. We are the trusted software
                                development partner for Commercial and Government clients worldwide. Mads tech Solutions has a
                                strong reputation as a business and consulting company. Our team with its years of experience
                                has been providing suitable IT professionals for permanent & contractual positions to our
                                clients.</p>
                        </div>
                    </div>
                    <div class="item pad-bottom-5rem">
                        
                        <div class="pad-bottom-5rem">
                            <p class="p-content animate__animated animate__fadeInUp">We have extensive experience working with government clients through our
                                partners.
                            </p>
                        </div>
                    </div>

                    <div class="item pad-bottom-5rem">
                        
                        <div class="pad-bottom-5rem">
                            <p class="p-content animate__animated animate__fadeInUp">Our vision is to achieve global IT services leadership in providing high
                                quality IT solutions to our clients by combining technology skills, domain expertise, process
                                focus and a commitment to long-term client relationships.</p>
                        </div>
                    </div>
                    <div class="item pad-bottom-5rem">
                        
                        <div class="pad-bottom-5rem">
                            <p class="p-content animate__animated animate__fadeInUp">We have capability to provide IT professionals for all your software
                                development, maintenance & networking needs. We do understand that the most important component
                                of success for any business is the people working there. Our team helps our clients in providing
                                the best fit Talent for their IT needs so that they just have to concentrate on growing their
                                business.</p>
                        </div>
                    </div>

                    <div class="item pad-bottom-5rem">
                        
                        <div class="pad-bottom-5rem">
                            <p class="p-content animate__animated animate__fadeInUp">MADS Solutions 's commitment, honesty, reliability and integrity in
                                providing solutions to its clients resulted in long-term relationships. We work side-by-side
                                with our clients to create comprehensive solutions that are designed to extend their business.
                                We begin each project with the goal of building a long-term relationship with the client. Our
                                wide range of knowledge and breadth of solutions help our clients realize their development
                                goals, whether they be a decrease in time to market, increase in staff efficiency, or reduced
                                development costs.</p>
                        </div>
                    </div>

                    
                </div>

                <a class="left carousal" href="#myCarousel" data-slide="prev">
                    <span class="carousal-icon bi bi-chevron-left"></span>
                </a>
                <a class="right carousal" href="#myCarousel" data-slide="next">
                    <span class="carousal-icon bi bi-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="process">
            <h1 class="h1-title animate__animated animate__fadeInDown" style="margin-bottom: 4rem;">Mission</h1>
            <p class="p-content pad-bottom-5rem">To be the global leader in providing high-value, global technology
                solutions that enable our clients to maximize the returns on their IT investment and unsurpassed
                competitive advantage in the market place.</p>
            
        </div>
        <div class="accomplishment">
            <h1 class="h1-title animate__animated animate__fadeInDown" style="padding-bottom: 4rem; margin: 0;">Accomplishment</h1>
            <div class="pad-bottom-5rem root_accomp">
                <div style="margin-bottom: 5rem;">
                    <div class="accomp-conatainer color-1 accomp-root" style="margin-right: 5rem; margin-bottom: 5rem;">
                        <h4 class="accomp-cnt animate__animated animate__fadeInDown">100%</h4>
                        <p class="accomp-content animate__animated animate__fadeInUp">Satified Customer</p>
                    </div>
                    <div class="accomp-conatainer color-1 accomp-root">
                        <h4 class="accomp-cnt animate__animated animate__fadeInDown">500</h4>
                    <p class="accomp-content animate__animated animate__fadeInUp">Successful Projects</p>
                    </div>
                </div>
                <div style="margin-bottom: 5rem;">
                    <div class="accomp-conatainer color-1 accomp-root" style="margin-right: 5rem; margin-bottom: 5rem;">
                        <h4 class="accomp-cnt animate__animated animate__fadeInDown">27</h4>
                    <p class="accomp-content animate__animated animate__fadeInUp">Winning Projects</p>
                    </div>
                    <div class="accomp-conatainer color-1 accomp-root">
                        <h4 class="accomp-cnt animate__animated animate__fadeInDown">107</h4>
                        <p class="accomp-content animate__animated animate__fadeInUp">Experienced Consultants</p>
                    </div>
                </div>
            </div>

    </main>
    <footer id="footer">
        <div class="footer-container">
            <div style="display: flex; flex-direction: column;">
                <h1 style="font-size: 24px; font-weight: 700;">MADS SOLUTIONS</h1>
                <div style="display: flex;">
                    <div>
                        <h5>USA</h5>
                        <p>
                            b123 xyz Street <br>
                            NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 2344 55555 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                    <div style="margin-left: 5rem;">
                        <h5>INDIA</h5>
                        <p>
                            xyz tanda street<br>
                            UP 224190, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-links">
                <h3 style="font-size: 16px; font-weight: 600;">Useful Links</h3>
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="../index.html">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="about-us.html">About us</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="services.html">Services</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="weArehiring.html">We are hiring</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="contactus.html">Contact us</a></li>
                </ul>
            </div>
            <div>
                <h3 style="font-size: 16px; font-weight: 600;">Our Social Networks</h3>
                <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

        </div>
        <div class="copyright pad-3rem">
            &copy; Copyright <strong><span>MADS SOLUTIONS</span></strong>. All Rights Reserved
        </div>
    </footer>
    <div class="chat-bar-collapsible">
        <button id="chat_button" type="button" class="collapsible" onclick="buttonPress()">Lets's Chat!
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content display-none" id="chat_content">
            <div class="chat_header">
                <i id="chat-icon" style="color: black;" class="fa fa-fw fa-comments-o"></i>
                <div>
                    <h2 style="font-size: 19px;padding: 0; margin: 0;">MADS SOLUTIONS</h2>
                    <span style="font-size: 14px;">We'll reply as soon as we can</span>
                </div>

                <button class="close_chat_button" aria-label="Minimize Chat" onclick="closeChatBox()"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M17.077 6l.923.923L12.923 12 18 17.077l-.923.923L12 12.923 6.923 18 6 17.077 11.076 12 6 6.923 6.923 6 12 11.077 17.077 6z"
                            fill="currentColor" fill-rule="evenodd"></path>
                    </svg></button>

            </div>
            <!-- <div id="chatbox" class="chatbox"> -->
            <div class="chat_container" id="chat_container">
                <h5 id="chat-timestamp" style="text-align: center; font-size: 14px;"></h5>
                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                <!-- </div> -->
            </div>
            <div class="chat_bottom_container">
                <input id="input_text_chat" class="input_chat_content" type="text" placeholder="Type your message..." />
                <i class="fa fa-smile-o" id="emoji_button"></i>
                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="sendMessage()"></i>
            </div>
        </div>

    </div>
    <script src="../js/main.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/chatbot.js"></script>
</body>

</html>