<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADS SOLUTIONS</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../assets/image/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/animation.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css"
        integrity="sha512-cn16Qw8mzTBKpu08X0fwhTSv02kK/FojjNLz0bwp2xJ4H+yalwzXKFw/5cLzuBZCxGWIA+95X4skzvo8STNtSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <header id="header" class="fixed-top">
        <div class="parent-container">
            <div class="chiled-container">
                <a class="chiled-head-container" href="../index.html">
                    <img class="logo" src="../assets/image/logo1.png" alt="logo">
                    <span class="nav-title">MADS SOLUTIONS</span>
                </a>

                <a href="javascript:void(0)" class="icon">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="topnav" id="myTopnav">
                <a href="../index.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        HOME
                    </h4>
                </a>
                <a href="about-us.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        ABOUT US
                    </h4>
                </a>

                <a href="services.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        SERVICES
                    </h4>
                </a>

                <a href="weArehiring.html" class="scrollto">
                    <h4 class="h4-title mg-right">
                        WE ARE HIRING
                    </h4>
                </a>

                <a href="contactus.html" class="scrollto">
                    <h4 class="h4-title">
                        CONTACT US
                    </h4>
                </a>
            </div>
        </div>

    </header>

    <main id="main">
        <div class="services-page">
            <h1 style="color: #b4b4b4; margin-top: 10rem;" class="h1-title animate__animated animate__fadeInDown">
                services</h1>
            <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="pad-bottom-5rem pad-3rem">
                            <p class="h1-title animate__animated animate__fadeInUp">RESOURCE CONSULTING</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad-bottom-5rem pad-3rem">
                            <p class="h1-title animate__animated animate__fadeInUp">OFFSHORE DEVELOPMENT
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="service_consulting">
            <h1 class="h1-title animate__animated animate__fadeInDown" style="padding-bottom: 4rem; margin: 0;">RESOURCE
                CONSULTING</h1>
            <div class="pad-bottom-5rem ">
                <div class="consult-conatainer color-1" >
                    <p>Our on staff and on demand resources can support organizations with the expertise to create and
                        sustain the competitive advantage needed to conquer your world.</p>
                    <p>Our consultants have backgrounds in all verticals and disciplines. We can support our clients
                        requirements with our resources – whenever, wherever and however they may need them.</p>
                    <p>We have access to a large pool of qualified consultants that we use. Our pool gives us access to
                        more than 500+ contractors who are available immediately for our clients need. Our staff
                        augmentation and solution services.</p>
                    <h1>Offering include:</h1>
                    <ul>
                        <li>Data Warehousing</li>
                        <li>Project Management</li>
                        <li>Web based Application Development</li>
                        <li>Mobile Based Application development</li>
                        <li>Database Design and administration</li>
                        <li>Network Design and administration</li>
                        <li>Main Frame legacy system integration</li>
                        <li>Infrastructure Management and Support</li>
                        <li>IT helpdesk Services</li>
                        <li>Quality analysis</li>
                        <li>Business Analysis</li>
                        <li>Financial Analysis</li>
                        <li>Business Intelligence</li>
                    </ul>
                </div>
            </div>
            <div class="service_consulting">
                <h1 class="h1-title animate__animated animate__fadeInDown" style="padding-bottom: 4rem; margin: 0;">
                    OFFSHORE DEVELOPMENT</h1>
                <div class="pad-bottom-5rem ">
                    <div class="consult-conatainer color-1">
                        <p>MADS Solutions owns and manages a development center in Gurugram, India where we combine
                            bottom-line cost savings with technical expertise to deliver solutions. Our capabilities
                            cover a broad range of services designed to deliver premium quality software development
                            while giving unmatched value to clients worldwide.</p>
                        <h1>Areas of Excellence</h1>
                        <ul>
                            <li> Custom Software Development </li> 
                            <li> Agile Software Development</li> 
                            <li> Application Development</li> 
                            <li> Software Outsourcing</li> 
                            <li> Ecommerce Website Design</li> 
                            <li> Search Engine Optimization</li> 
                            <li> Software Maintenance Services</li> 
                            <li> Website Design</li> 
                            <li> Web Application Development</li> 
                            <li> Web Integration</li> 
                        </ul>
                    </div>
                </div>
    </main>
    <footer id="footer">
        <div class="footer-container">
            <div>
                <h1 style="font-size: 24px; font-weight: 700;">MADS SOLUTIONS</h1>
                <div style="display: flex;">
                    <div>
                        <h5>USA</h5>
                        <p>
                            b123 xyz Street <br>
                            NY 535022, USA<br><br>
                            <strong>Phone:</strong> +1 2344 55555 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                    <div style="margin-left: 5rem;">
                        <h5>INDIA</h5>
                        <p>
                            xyz tanda street<br>
                            UP 224190, USA<br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-links">
                <h3 style="font-size: 16px; font-weight: 600;">Useful Links</h3>
                <ul>
                    <li><i class="bx bx-chevron-right"></i> <a href="../index.html">Home</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="about-us.html">About us</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="services.html">Services</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="weArehiring.html">We are hiring</a></li>
                    <li><i class="bx bx-chevron-right"></i> <a href="contactus.html">Contact us</a></li>
                </ul>
            </div>
            <div>
                <h3 style="font-size: 16px; font-weight: 600;">Our Social Networks</h3>
                <div class="social-links mt-3">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

        </div>
        <div class="copyright pad-3rem">
            &copy; Copyright <strong><span>MADS SOLUTIONS</span></strong>. All Rights Reserved
        </div>
    </footer>
    <div class="chat-bar-collapsible">
        <button id="chat_button" type="button" class="collapsible" onclick="buttonPress()">Lets's Chat!
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content display-none" id="chat_content">
            <div class="chat_header">
                <i id="chat-icon" style="color: black;" class="fa fa-fw fa-comments-o"></i>
                <div>
                    <h2 style="font-size: 19px;padding: 0; margin: 0;">MADS SOLUTIONS</h2>
                    <span style="font-size: 14px;">We'll reply as soon as we can</span>
                </div>

                <button class="close_chat_button" aria-label="Minimize Chat" onclick="closeChatBox()"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M17.077 6l.923.923L12.923 12 18 17.077l-.923.923L12 12.923 6.923 18 6 17.077 11.076 12 6 6.923 6.923 6 12 11.077 17.077 6z"
                            fill="currentColor" fill-rule="evenodd"></path>
                    </svg></button>

            </div>
            <!-- <div id="chatbox" class="chatbox"> -->
            <div class="chat_container" id="chat_container">
                <h5 id="chat-timestamp" style="text-align: center; font-size: 14px;"></h5>
                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                <!-- </div> -->
            </div>
            <div class="chat_bottom_container">
                <input id="input_text_chat" class="input_chat_content" type="text" placeholder="Type your message..." />
                <i class="fa fa-smile-o" id="emoji_button"></i>
                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" onclick="getResponse()"></i>
            </div>
        </div>

    </div>
    <script src="../js/header.js"></script>
    <script src="../js/chatbot.js"></script>
</body>

</html>